%li{id: "js-task_#{task.id}"}
  %table.table.table-bordered.table-hover
    %tbody
      %tr
        %td.col-md-1
          %input{type: "checkbox", id: "checkbox"}
        %td.col-md-9
          %span{id: "js-task_#{task.id}_name"}= task.name
        %td
          %span#task-actions
            = link_to task, remote: true, method: :delete do
              %i.glyphicon.glyphicon-trash
            = link_to edit_task_path(task), remote: true do
              %i.glyphicon.glyphicon-pencil



