@import "bootstrap-sprockets";
@import "bootstrap";

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn.btn-primary{
	margin-top: 50px;
	word-spacing: normal;
}

.btn.btn-success{
	height: 35px;
	float: right;
	margin-left: 0px;
	margin-right: 5px;
}
#task_name{
	height: 35px;
	width: 521px;
	margin-left: 40px;
	margin-right: 0px;
}

.glyphicon:before {
	margin-right: 5px;
	 }

.panel.panel-primary{
	margin-bottom: 0px;
	margin-top: 50px;
	border: 2px solid grey;
	&:hover #project-actions i{
		color: white;
	}
	.panel-body#panel-body{
		background-color: #E6E6FA;
	}
}



li{
	list-style-type: none;
}


#project-actions i{
	float: right;
}

#task-actions i{
	float: right;
	visibility: hidden;
}

.table{
	margin-bottom: 0px;
}

tr:hover{
background-color: #FFFFCC;
#task-actions i{
	visibility: visible;
	}
}


ul{
	margin: 0px;
	padding: 0px;
}

/*

span[id^=js-project_]{
 float: right;
}

 .glyphicon:before {
	margin-right: 5px;
	 }
#new-project-button	{
	margin-top: 50px;
	margin-bottom: 50px;

}
.panel-body{
	border-color: #ff0000;
	}

.project-panel li{
	display: inline-block;
}

body{
	background-image: url("");
}

#task-panel{
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-style: none;
}

#project-panel{
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 1px solid #dddddd;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*/
